<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Face Recognition Logo" class="logo">
        <h1>Employee List</h1>
    </header>
    <main>
        <input type="text" id="search" placeholder="Search Employee" onkeyup="searchEmployees()">
        <ul id="employeeList" class="employee-list">
            {% for employee in employees %}
                <li>
                    {{ employee }}
                    <button onclick="deleteEmployee('{{ employee }}')">Delete</button>
                </li>
            {% endfor %}
        </ul>
        <a href="/" class="button">Back to Home</a>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>